.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
}

h1{
    color: white;
    font-size: 32px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    border-radius: 30px;
    background-color: #2E2D4E;
    max-width: 100%;
}